.course-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.list {
  overflow: auto;
  margin: 32px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hover {
  cursor: pointer;
}