.pageContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.ant-typography.title {
	color: #2f3e50;
	padding: 0px 32px;
	font-size: 30px;
	margin: 0;
}

.ant-layout-content .site-layout {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
