.screenerList {
	flex-grow: 1;
	min-width: 240px;
	max-width: 240px;
	padding: 10px;
	border-left: 1px solid #d6d6d6;
}

.item {
	display: flex;
	align-items: flex-start;
}

.itemText {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.secondary {
	margin-top: -4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
