.loadingContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	flex-grow: 1;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	background: #f3f4f8;
	box-sizing: border-box;
}
